{% extends 'lessons/base.html' %}
<h1>Занятия и стоимость</h1>
{% block title %}
Занятия
{% endblock %}

{% block content %}
	<h1>Posts</h1>
	{% for name in names %}
	<p>
		{{ name }}
	</p>
{% endfor %}
<div>
	<ul>
		<li>Раннее развитие</li>
		<li>Нейропсихолог</li>
		<li>Нейрологопед</li>
		<li>Психолог</li>
	</ul>
</div>

<div>
	<ul>
		<li>Интеллектуальное развитие</li>
		<li>Читай-ка</li>
		<li>Считай-ка</li>
		<li>Нейропсихолог</li>
		<li>Нейрологопед</li>
		<li>Психолог</li>
	</ul>
</div>
{% endblock %}



