{% extends 'base.html' %}
{% load static %}


{% block title %}
Новости
{% endblock %}

{% block body %}
	<h1>Новости</h1>
	
	
	<div class="container">
		<div class="row row-cols-4">
			{% for item in news %}
			<div class="col">
				<div class="card"
				     style="width: 18rem;">
					<img src="{{ item.picture.url }}"
					     class="card-img-top"
					     alt="  ">
					<div class="card-body">
						<h5 class="card-title">{{ item.title }}</h5>
						<p class="card-text">{{ item.digest }}</p>
						<p class="card-text">{{ item.created }}</p>
					</div>
					<div class="card-body">
						<a href="{{ item.get_absolute_url }}"
						   class="btn btn-outline-warning">Подробнее</a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}