
{% extends "admin/base.html" %}

{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="panel_head">
  <a href="{% url 'admin:index' %}">
    <img src="{% static 'images/smile.png' %}" height="150px"/>
  </a>
</h1>
{% endblock %}

{% block extrastyle %}

<link rel="stylesheet" href="{% static 'css/adminstyle.css' %}">

{% endblock %}

{% block nav-global %}{% endblock %}